.video-card {
  width: 300px;
  height: fit-content;
  position: relative
}

.video-card:hover {
  background: rgb(149, 149, 149);
  border-radius: 10px;
}

.video-card * {
  margin: 0;
}

.video-thumb {
  width: 300px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.listing-details {
  padding: 0 10px;
}
h3 {
  text-wrap: wrap;
}

.channel-title {
  color: black;
  text-decoration: none;
  /* position: absolute; */
  z-index: 100;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}